#components-layout-demo-side {
  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
}
.site-layout {
  header {
    background: $antD-dark-color !important;
  }

  .site-layout-background {
    background: #fff;
  }
}
