.blockbusters {
    .blockbusters-container {
        background-color: $theme-color;
        h2 {
            color: $heading-color;
        }
        a {
            color: white;
        }
        .cinema-movie-list {
            .ant-collapse {
                background-color:$theme-purple-color;
                border: 2px solid white;
                border-radius: 10px;
                .ant-collapse-item:last-child {
                    border-radius: 10px;
                }
                .ant-collapse-header {
                    color: white;
                }
            }
        }
    }
}